Node-Red flow/Node-RED flow.json
[{"id":"e28611ea338c3aac","type":"tab","label":"Control Temperature Flow","disabled":false,"info":"","env":[]},{"id":"b6b0c494138b5fdd","type":"tab","label":"Test Flow","disabled":false,"info":"","env":[]},{"id":"f5edef8419a05584","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","tls":"","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"3d5dd129cfc2eb4f","type":"serial-port","serialport":"COM5","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"3f6748b57362dbe5","type":"mqtt in","z":"e28611ea338c3aac","name":"","topic":"building/controlTemperature","qos":"2","datatype":"auto","broker":"f5edef8419a05584","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":160,"wires":[["ea38ca8d5ccb576f"]]},{"id":"ea38ca8d5ccb576f","type":"function","z":"e28611ea338c3aac","name":"Receive Readings","func":"if (typeof flow.get('storedReadings')=== \"undefined\"){\n    var storedReadings=[];\n}else{\n    storedReadings=flow.get(\"storedReadings\");\n    \n}\nvar lastReading = msg.payload;\nstoredReadings.push(lastReading);\nflow.set(\"storedReadings\", storedReadings);\nflow.set(\"lastReading\", lastReading);\n\nmsg.payload=storedReadings;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":420,"wires":[["16d1817dfab360fd"]]},{"id":"16d1817dfab360fd","type":"function","z":"e28611ea338c3aac","name":"Check Intervals","func":"var readings=msg.payload;\nvar lastReading=flow.get(\"lastReading\");\nvar count=0;\nif(lastReading>40){ //if a very hight temperature is sensed -> 1\n    msg.payload = \"1\" + \"-\" + lastReading.toString() + \"-\";\n    readings.length=0;\n    flow.set(\"storedReadings\", readings);\n}else{\n    if (readings.length == 5) { //check the last sequential readings\n        for (var i = 1; i <= readings.length; i++) {\n            if (readings[i] - readings[i - 1] >= 10) { //if there is a sudden spike of temperature between a reading and another -> 2\n                msg.payload = \"2\" + \"-\" + lastReading.toString() + \"-\";\n                break;\n            }else if (readings[i] - readings[i - 1] >= 2) { // count if the temperature keep increasing of at least 2 °C per reading\n                count++;\n            } else{\n                msg.payload = \"0\" + \"-\" + lastReading.toString() + \"-\"; // if none of this condition happen -> 0 (normal reading)\n            }\n        }\n        if (count == 4){ // if the temperature has increased for all the sequential reading -> 3\n            msg.payload = \"3\" + \"-\" + lastReading.toString() + \"-\";\n        }\n        readings.length=0;\n        flow.set(\"storedReadings\", readings);\n    }else{\n        msg.payload = \"0\" + \"-\" + lastReading.toString() + \"-\";\n    }\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":160,"wires":[["7e0719ead99cef7e"]]},{"id":"4f35915c1a6d1028","type":"comment","z":"e28611ea338c3aac","name":"Receive the sensed temperature thorough MQTT","info":"","x":220,"y":120,"wires":[]},{"id":"6280f0a80acba71e","type":"comment","z":"e28611ea338c3aac","name":"Receive the reading, store /n each reading in an array and also in a dedicated variable, both with flow context","info":"","x":410,"y":460,"wires":[]},{"id":"1068c3eece721ac4","type":"comment","z":"e28611ea338c3aac","name":"The created string is sent to the ARDUINO through a serial communication","info":"","x":1100,"y":360,"wires":[]},{"id":"f3849fa74d15432d","type":"comment","z":"e28611ea338c3aac","name":"Based on many condition, a string is formed containing the alarmCode obtained and the temperature sensed","info":"","x":990,"y":120,"wires":[]},{"id":"7e0719ead99cef7e","type":"serial out","z":"e28611ea338c3aac","name":"","serial":"3d5dd129cfc2eb4f","x":890,"y":320,"wires":[]},{"id":"d0eee3640a9886d1","type":"mqtt in","z":"b6b0c494138b5fdd","name":"","topic":"building/controlTemperature","qos":"2","datatype":"auto","broker":"f5edef8419a05584","nl":false,"rap":true,"rh":0,"inputs":0,"x":240,"y":340,"wires":[["52bdb9285e1fc998","d0e437d4740e0764"]]},{"id":"8009051890cfc00f","type":"mqtt out","z":"b6b0c494138b5fdd","name":"","topic":"building/controlTemperature","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f5edef8419a05584","x":460,"y":60,"wires":[]},{"id":"a10acab1af80c02c","type":"inject","z":"b6b0c494138b5fdd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"wewe","payloadType":"str","x":170,"y":60,"wires":[["8009051890cfc00f","b5ff5226313aa6d4"]]},{"id":"52bdb9285e1fc998","type":"debug","z":"b6b0c494138b5fdd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":260,"wires":[]},{"id":"d0e437d4740e0764","type":"function","z":"b6b0c494138b5fdd","name":"Receive Readings","func":"if (typeof flow.get('storedReadings')=== \"undefined\"){\n    var storedReadings=[];\n}else{\n    storedReadings=flow.get(\"storedReadings\");\n    \n}\nvar lastReading = msg.payload;\nstoredReadings.push(lastReading);\nflow.set(\"storedReadings\", storedReadings);\nflow.set(\"lastReading\", lastReading);\n\nmsg.payload=storedReadings;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":340,"wires":[["91828ad7087da134","954905dd26d074b9"]]},{"id":"91828ad7087da134","type":"debug","z":"b6b0c494138b5fdd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":260,"wires":[]},{"id":"954905dd26d074b9","type":"function","z":"b6b0c494138b5fdd","name":"Check Intervals","func":"var readings=msg.payload;\nvar lastReading=flow.get(\"lastReading\");\nvar count=0;\nif(lastReading>40){ //se viene rilevata una temperatura alta, dà l'allarme\n    msg.payload = \"1\" + \"-\" + lastReading.toString() + \"-\";\n    readings.length=0;\n    flow.set(\"storedReadings\", readings);\n}else{\n    if (readings.length == 5) {\n        for (var i = 1; i <= readings.length; i++) {\n            if (readings[i] - readings[i - 1] >= 10) { //improvviso aumento di temperatura\n                msg.payload = \"2\" + \"-\" + lastReading.toString() + \"-\";\n                break;\n            }else if (readings[i] - readings[i - 1] >= 2) { //se tra un reading e l'altro ci sono almeno due gradi di differenza\n                count++;\n            } else{\n                msg.payload = \"0\" + \"-\" + lastReading.toString() + \"-\";\n            }\n        }\n        if (count == 4){ //se negli ultimi 5 rilevamenti la temperatura è andata aumentando o se ci sono 10 gradi di diferenza la prima e la seconda pi alta temperatura alta rilevata\n            msg.payload = \"3\" + \"-\" + lastReading.toString() + \"-\";\n        }\n        readings.length=0;\n        flow.set(\"storedReadings\", readings);\n    }else{\n        msg.payload = \"0\" + \"-\" + lastReading.toString() + \"-\";\n    }\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":340,"wires":[["5170081ec7ed874c","fba4622b4d4d7d1b"]]},{"id":"b5ff5226313aa6d4","type":"function","z":"b6b0c494138b5fdd","name":"Check Intervals","func":"var readings=[];\nflow.set(\"storedReadings\", readings);\nmsg.payload= flow.get(\"storedReadings\");\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":140,"wires":[["afac54c21c37a00b"]]},{"id":"afac54c21c37a00b","type":"debug","z":"b6b0c494138b5fdd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":140,"wires":[]},{"id":"49a853d530d39b40","type":"inject","z":"b6b0c494138b5fdd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":190,"y":480,"wires":[["d0e437d4740e0764"]]},{"id":"98600aa7706c5d86","type":"inject","z":"b6b0c494138b5fdd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"4","payloadType":"num","x":190,"y":540,"wires":[["d0e437d4740e0764"]]},{"id":"7e1e9150aba83cdb","type":"inject","z":"b6b0c494138b5fdd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":190,"y":720,"wires":[["d0e437d4740e0764"]]},{"id":"57a999e54214cb55","type":"inject","z":"b6b0c494138b5fdd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"55.4","payloadType":"num","x":190,"y":780,"wires":[["d0e437d4740e0764"]]},{"id":"48621ae8a138c368","type":"inject","z":"b6b0c494138b5fdd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"20","payloadType":"num","x":190,"y":420,"wires":[["d0e437d4740e0764"]]},{"id":"d3ed10695ecae70d","type":"inject","z":"b6b0c494138b5fdd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"6","payloadType":"num","x":190,"y":600,"wires":[["d0e437d4740e0764"]]},{"id":"68e0f16365175bda","type":"inject","z":"b6b0c494138b5fdd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"8","payloadType":"num","x":190,"y":660,"wires":[["d0e437d4740e0764"]]},{"id":"1ed7d48311385fc1","type":"debug","z":"b6b0c494138b5fdd","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":140,"wires":[]},{"id":"5170081ec7ed874c","type":"debug","z":"b6b0c494138b5fdd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":260,"wires":[]},{"id":"cdd44c52f279ec55","type":"serial in","z":"b6b0c494138b5fdd","name":"","serial":"3d5dd129cfc2eb4f","x":910,"y":140,"wires":[["1ed7d48311385fc1"]]},{"id":"fba4622b4d4d7d1b","type":"serial out","z":"b6b0c494138b5fdd","name":"","serial":"3d5dd129cfc2eb4f","x":1130,"y":340,"wires":[]}]